td, th{

    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid white;
}

tr{

}

.scrollabeScoreTable{
  overflow: scroll;
  height: 400px;
}

.scoreTable{
  border: 1px solid white;
  margin: 0px auto;
  width: 100%;
}
